/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body[class='Dark'] {
  --mycolor: rgb(255, 106, 0);
  ;
  --mybackground: #083268cc;
  ;
  --header: rgb(68, 68, 68);
  ;
  --preload: rgb(68, 68, 68);
  ;
  --section: rgb(68, 68, 68);
  ;
  --container: rgb(68, 68, 68);
  --sectionshade: rgb(31, 30, 30);
  ;
  --para: rgb(179, 170, 170);
  ;
  --iconbox: rgb(66, 50, 50);
  ;
  --backgroundimg: rgba(70, 68, 68, 0.466);
  ;
}

:root {
  --mycolor: rgb(7, 7, 143);
  ;
  --mybackground: rgba(16, 110, 234, 0.8);
  ;
  --header: white;
  ;
  --preload: white;
  ;
  --section: #083268cc;
  --sectionshade: #052247cc;
  --container:#083268cc ;
  --para: black;
  ;
  --iconbox: white;
  ;
  --backgroundimg: rgba(255, 255, 255, 0.6);
  ;

}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--para);

}

a {
  color: var(--mycolor);
  text-decoration: none;
  z-index: 1;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--preload);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--mycolor);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--mycolor);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3284f1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#dark-theme {
  display: flex;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

/* #dark-theme:checked{ */
/* animation: demo 2s ease-in-out 1 linear; */
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
/* content: url(../img/darkmode/sun.png); */
/* } */


@keyframes demo {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(2);
  }
}



#topbar {
  display: flex;
  align-items: center;
  background: var(--mycolor);
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}

#topbar .contact-info i {
  font-style: normal;
  color: #fff;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;

}

#topbar .social-links a:hover {
  color: white;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: var(--header);
  transition: all 0.5s;
  z-index: 997;
  height: 86px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
  height: 70px;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #222222;

}

#header .logo a span {
  color: var(--mycolor);
}

#header .logo img {
  max-height: 150px;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  color: #222222;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--mycolor);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--mycolor);
}


/**
* Mobile Navigation 
*/
/* low to medium rez display menu effect */
@keyframes slideIn {
  0% {
    top: -300px;
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.50;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    top: 0px;
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.50;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    top: -300px;
    opacity: 0;
  }

}
.slideIn {
  animation: slideIn 0.4s linear;
}

.slideOut {
  animation: slideOut 0.4s linear;
}
/* mediu ti high rez display menu effect */
@keyframes slideInMed {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.50;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutMed {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.50;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
.slideInMed {
  animation: slideInMed 0.4s linear;
}

.slideOutMed {
  animation: slideOutMed 0.2s linear;
}

/* ---------------end of keyframes------------- */

#topbarMobile {
  display: none;
}

.mobile-nav-toggle {
  color: #000000;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  display: flex;
  color: #000000;
  position: absolute;
  /* right: 0px; */
  top: 0px;

}

@media(max-width: 340px) {
  .navbar {
    display: flex;
    position: absolute;
    width: 100%;
    right: 0px;
    top: 99%;
  }

  .navbar-mobile ul {
    width: 100%;

  }
}

@media (min-width: 341px) {
  .navbar-mobile {
    right: 196.5px;
  }
}

@media (max-width: 1120px) {
  #topbar {
    display: none;
  }

  #topbarMobile {
    display: flex;
  }

  .mobile-nav-toggle {
    display: block;

  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  display: flex;
  position: absolute;
  top: 100%;


  
  z-index: 999;
}

/* .navbar-mobile .mobile-nav-toggle {
  
  
} */
.navbar-mobile ul {
  display: flex;
  position: absolute;
  top: 100%;
  flex-direction: column;
  padding: 10px 0;
  background-color: #083268cc;
  
  

}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #f8f8f8;
}

.navbar-mobile>ul>li {
  padding: 0;

}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: gray;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 75vh;
  /* background: url("../img/hero-bg.jpg") top left; */
  background: url("../img/bannerHero2.jpg") center;
  background-size: cover;
  position: relative;


  /* background-position: center center; */
}

#hero:before {
  content: "";
  /* background: var(--backgroundimg); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: relative;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  color: var(--mycolor);
}

#hero h2 {
  color: var(--mycolor);
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: var(--mycolor);
}

#hero .btn-get-started:hover {
  background: #247cf0;
}

#hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: #222222;
  font-weight: 600;
  display: flex;
  align-items: center;
}

#hero .btn-watch-video i {
  color: var(--mycolor);
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

#hero .btn-watch-video:hover {
  color: var(--mycolor);
}

#hero .btn-watch-video:hover i {
  color: #3b8af2;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .btn-get-started,
  #hero .btn-watch-video {
    font-size: 13px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}



.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: var(--mycolor);
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: var(--mycolor);
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.description-container {
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--sectionshade);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#about{
  background: var(--section);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services {
  background: var(--sectionshade);
}
#mongo{
  height: 64px;
  width: 150px;
}
.services .icon-box img {
  width: 64px;
  height: 64px;
}
.services .icon-box {
  
  text-align: center;
  border: 1px solid #e2eefd;
  padding: 10px 20px;
  transition: all ease-in-out 0.3s;
  background: var(--iconbox);
  
  
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgb(211, 210, 210);
}

.services .icon-box:hover h4 a,
.services .icon-box:hover .icon i {
  color: var(--mycolor);
}

.services .icon-box:hover .icon {
  border-color: var(--mycolor);
}
/* ------------------------------------------------------------
 # PROJECTS
--------------------------------------------------------------- */
#projects {
  background: var(--sectionshade);
}

.projects .icon-box-projects img {
  width: 64px;
  height: 64px;
}
.projects .icon-box-projects {
  
  max-height: 500px;
  overflow: auto;
  border: 1px solid #e2eefd;
  padding: 10px 20px;
  transition: all ease-in-out 0.3s;
  background: var(--iconbox);
  
  
}

.projects .icon-box-projects h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.projects .icon-box-projects h4 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.projects .icon-box-projects p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.projects .icon-box-projects:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgb(211, 210, 210);
}

.projects .icon-box-projects:hover h4 a,
.projects .icon-box-projects:hover .icon i {
  color: var(--mycolor);
}

.projects .icon-box-projects:hover .icon {
  border-color: var(--mycolor);
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  background: var(--section);
}

.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #cecbcb;;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #b3d1fa;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #ffffff;;
}

/* .contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  padding: 30px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--mycolor);
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: var(--mycolor);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #3b8af2;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: var(--section);
  padding: 0 0 30px 0;
  color: var(--para);
  font-size: 14px;
  
}

#footer .copyright {
  text-align: center;
  float: left;
}

@media (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}